* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #eaeaea;
    padding: 15px;
    align-items: center;
}

.menu1:hover {
    color: red;
}

.nd1 {
    border: 1px solid black;
}

.menu3 {
    padding-left: 50px;
}

.t1 {
    position: relative;
    padding: 0;
    height: 50px;
    border: 1px solid rgba(231, 200, 200, 0.367);
}

.title {
    position: absolute;
    top: -3px;
    padding: 0;
    height: 55px;
}

.title h2 {
    display: inline-block;
    font-weight: 700;
    padding: 5px;
    text-transform: uppercase;
    background-color: #ff4c4c;
    color: white;
    height: 100%;
    box-shadow: 5px 3px 10px 1px rgba(0, 0, 0, 0.5);
}

.footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #ff5e00;
}

.footer .social-icons a {
    margin-right: 10px;
    font-size: 24px;
}

.btn-custom {
    margin-top: 10px;
}

.product-details {
    margin-bottom: 50px;
    /* Adjust as needed */
}
/* Additional styles for price elements */

.total-price {
    color: red;
    /* Change color to red */
}